:root {
    --primary-bg: #F9F9F9;
    --secondary-bg: #D3D3D3;
    --primary-fg: #0D0D0D;
    --secondary-fg: #909090;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage, .post {
    width: 40rem;
}

h1#title {
    font-size: 2rem;
    padding: 3rem 0 2rem 0;
}

h4#username, h4#username a {
    color: var(--secondary-fg);
    font-weight: normal;
    padding-top: 3rem;
    text-decoration: none;
}

.feed li {
    list-style: none;
    margin: 1rem 0;
}

a.post {
    display: flex;
    text-decoration: none;
}

p#date {
    color: var(--secondary-fg);
    padding: 0 1.5rem 0 0;
}

p#title {
    text-decoration: underline;
    color: var(--primary-fg);
}