<html>
    <head>
        <link rel="stylesheet" href="../css/main-style.css" />
        <link rel="stylesheet" href="../css/post-style.css" />
        
        <link rel="stylesheet" href="../css/github-light.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        
        <script>hljs.highlightAll();</script>

        <title>{title} - username</title>
    </head>

    <body>
        <section class="post">
            <h4 id="username"><a href="../index.html">@username / blog</a></h4>
            
            <h1 id="title">{title}</h1>
            <h4 id="date">{date}</h4>
            
            <article>
                {content}
            </article>
        </section>
    </body>
</html>